.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;

  .title-form {
    font-weight: bold;
  }

  .logo-form {
    height: 80px;
    width: 80px;
  }
}

.form-child {
  padding: 0 3rem;

  .submit-button {
    border: none;
    display: block;
    margin: 1rem auto;
    background-color: #FF7C00;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
  }
}
