// Specific CSS for your home-page

#logo-placeholder {
  height: 50px;
  width: 50px;
  background-color: rgb(233, 233, 21);
  margin: 0 auto;
}

.student-index-link {
  text-decoration: none;
  color: black;
}

.card-product-student-index h2, .card-product-student-index .h2 {
  font-size: 20px;
}

.card-product-student-index p {
  font-size: 14px;
}

.card-product-infos-student-index-seq {
  margin-right: 6px;
}

.students-info ul {
  list-style-type: none;
  padding: 0;
}

.intro-home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .title-home {
    font-weight: bold;
  }

  .logo-home {
    margin: 32px 0 24px 0;
    height: 150px;
    width: 150px;
  }
}

.home-itens {
  padding: 0 48px;

  .btn-home {
    border: none;
    display: block;
    margin: 1rem auto;
    background-color: #FF7C00;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
  }

}
