<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div id="logo-pholder"></div>
      <h1>Crianças</h1>
      <div class="cards-student-index">
        <div class="card-product-student-index">
          <img src="https://images.unsplash.com/photo-1629872430082-93d8912beccf" />
          <div class="card-product-infos-student-index">
            <h2>Nome do estudante</h2>
            <p>Endereço</p>
          </div>
        </div>
      </div>
      <div class="button"></div>
    </div>
  </div>
</div>
