<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div>
        <ul>
          <li><%= @student.parents_name %></li>
          <li><%= @student.parents_email %></li>
          <li><%= @student.token %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
