.card-product-student-index {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
  // display: flex;
  // align-items: center;
  // display: flex;
  // flex-direction: column;
}

// .students-info {
//   position: relative;
// }

.card-product-student-index img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.card-product-student-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-student-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  // margin-top: 8px;
  // margin: 8px auto 0 auto;
  // width: 50%;
  // text-align: center;
}

.card-product-infos-student {
  max-height: 110px;
}
.card-product-student-index .card-product-infos-student-index {
  padding: 16px;
}

a.student-index-link:visited {
  color: black;
}

.students-info ul {
  list-style-type: none;
  padding: 10px !important;
}

.btn-student-edit {
  color: black;
  font-size: 28px;
  // position: absolute;
  top: 176px;
  right: 49px;
  z-index: 1000;
}
