.card-product-student-index {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-product-student-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-student-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-student-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  // margin-top: 8px;
  margin: 8px auto 0 auto;
  width: 50%;
  text-align: center;
}

.card-product-student-index .card-product-infos-student-index {
  padding: 16px;
}

a.student-index-link:visited {
  color: black;
}
