.navbar-lewagon {
  background: transparent;
  justify-content: space-around;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

  .me-auto .nav-item .nav-link {
    color:#FFA500;
    }
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  border-radius: 5px;
}
