.navbar-lewagon {
  margin: 0 20px;
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  border-radius: 5px;
}

.navbar-lewagon .nav-item a {
  color:#FFA500;
}
