.navbar-lewagon {
  background: black;
  justify-content: space-around;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

  .me-auto .nav-item .nav-link {
    color:#FFA500;
    }
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  border-radius: 5px;
}

.navbar-toggler {
  background-color: black;
}

.separator {
  color: #d3d3d3
}
